@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size:160%;color:aquamarine">Welcome</h1>
    <p style="font-size:250%;color:cadetblue">STUDENT MANAGEMENT SYSTEM</p>
</div>
